#main {
    background-color: antiquewhite;
}
body {
    background-color: aliceblue;
}

#ddMenu {
    color: white;
    border-radius: 15%;
}

.navbar-toggler-icon {
    background-color: white;
    border-radius: 25%;
}

ul {
    padding-left: 0rem;
}