body {

    font-family: var(--bs-font-sans-serif);
  }
  
  address, article, aside, div, footer, header, hgroup, main, nav, search, section {
    display: block;
  }
  
  h1 {
color: #ffffff;
  }

  h2 {
    color: #f8a27b;
  }

  h3 {
    color: #b9753698;
  }

.utocna {
  color: #ff0000d0;
}

.obranna {
  color: #003cfffb;
}

.podpora {
  color: #29f700cb;
}

  @media screen and (max-width:768px) {
    .container {
      max-width: 800px!important;
    }
  }
  
  .mb-0 {
    margin-bottom: 0!important;
  }
  
  @media screen and (max-width:991px) {
    .box.is__big {
      padding: 20px!important;
    }
  }
  
  .box.is__big {
    padding: 20px!important;
  }
  .box {
    background: #1c1f2c;
    border: solid 1px #262a3a;
  }
  
  .box {
    background: #428899;
    border: solid 1px #f8a27b;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 17px 13px 0 #192c4b05;
    box-shadow: 0 17px 13px 0 #192c4b05;
    display: block;
    background-color:#00000098;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
